// .e-main {
//   height: 100vh;
//   overflow: auto;
// }
section {
  scroll-margin-top: 64px;
}

// body {
//   max-height: 440px;
//   overflow: hidden;
// }

// .e-app {
//   min-height: auto;
//   max-height: 100vh;
//   overflow: hidden;
// }
.e-container--fluid {
  max-width: 100% !important;
}

.e-main {
  padding-left: 0 !important;
}
html {
  scroll-behavior: smooth;
}

.page-content {
  max-width: 1185px;
  margin: auto;
}

.e-bar--app {
  background-color: var(--grey--light);
}

@include _xs {
  html {
    --root-font-size: 15.2px;
  }
}

@include _sm {
  html {
    --root-font-size: 15.4px;
  }
}

@include _md {
  html {
    --root-font-size: 15.6px;
  }
}